/* Common Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.half-width {
    width: 50%;
    padding: 0;
}

/* Home section css  starts*/

#home {
    background: #E5E5E5;
    height: 100vh;
}

.inner-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.home-desc h1 {
    font-weight: bold;
    letter-spacing: -0.02em;
    font-size: 58px;
    line-height: 130%;
}

.home-desc h1 span {
    color: #FF1E1E;
}

.home-desc p {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #828282;
    margin: 40px 0;
}

#gradient-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 24px 32px;
    border-radius: 100px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
}

.home-image {
    display: flex;
    justify-content: flex-end;
}

.home-image img {
    width: 100%;
}

/* Home section css  ends*/


/* About Section css starts */
#about {
    background-image: url("./images/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left;
}

.inner-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about-image img {
    height: 90vh;
}

.about-desc h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #707070;
    margin-bottom: 32px;
}


.about-desc p {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    margin-bottom: 90px;

}


.about-desc a {
    display: inline-block;

}


/* About Section css ends */